@import 'bootstrap-custom/bootstrap-custom.scss';

$css-bg-light: #ffffff;
$css-bg-dark: #eeeeee;
$selection-color: #b4d5ff;

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.dark {
	background-color: $css-bg-dark;
}
.light {
	background-color: $css-bg-light;
}
.row-container {
	background-color: white;
	border-radius: 0 0 5px 5px;
}
::selection {
	color: white;
	background: $selection-color;
}
ul {
	list-style-type: none;
}

html {
	scroll-behavior: smooth;
}
